In [1]:
import pandas as pd
import pickle

In [2]:
df_new = pd.read_csv("Mall_Customers - New.csv")

In [3]:
transformer = r"C:\Users\jeanp\Notebooks\06. Aprendizaje Supervisado\src\col_transformer_nombre"
modelo = r"C:\Users\jeanp\Notebooks\06. Aprendizaje Supervisado\src\modelo_knn_mall.pkl"

In [4]:
modelo_mall = pickle.load(open(modelo, 'rb'))
transformer_mall = pickle.load(open(transformer, 'rb'))

In [5]:
df_new.head()

    User ID  Gender  Age  EstimatedSalary
0  15639576  Female   47           107000
1  15693264    Male   38            51000
2  15589715  Female   48           119000
3  15769902    Male   42            65000
4  15587177    Male   40            65000

In [6]:
X = transformer_mall.transform(df_new.drop(columns = ['User ID']))

In [7]:
transformer_mall.get_feature_names_out()

array(['standardscaler__Age', 'standardscaler__EstimatedSalary',
       'onehotencoder__Gender_Female', 'onehotencoder__Gender_Male'],
      dtype=object)

In [9]:
df_new['Purchased'] = modelo_mall.predict(X)

C:\Users\jeanp\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

In [10]:
df_new.head()

    User ID  Gender  Age  EstimatedSalary Purchased
0  15639576  Female   47           107000       Yes
1  15693264    Male   38            51000        No
2  15589715  Female   48           119000       Yes
3  15769902    Male   42            65000        No
4  15587177    Male   40            65000        No

In [11]:
df_new['Purchased'].value_counts()

Yes    42
No     29
Name: Purchased, dtype: int64

In [12]:
df_new[df_new['Purchased'] == 'Yes'].to_excel('prospectos_ventas.xlsx')