# Introducción a Python

 Durante esta clase estaremos viendo los siguientes temas:

* Estructuras de Datos
    * Numeros
    * Textos
    * Printing
    * Listas
    * Diccionarios
    * Booleans
    * Tuples 
    * Sets
* Operadores de Comparación
* if, elif, else
* for Loops
* while Loops
* range()
* Listas comprensivas
* Funciones
* Expresiones lambda
* map y filter
* metodos

## Tipos de Datos

### Números

In [1]:
1 + 1

2

In [2]:
1 * 3

3

In [3]:
1 / 2

0.5

In [4]:
2 ** 4

16

In [5]:
#RESIDUO
4 % 2

0

In [6]:
5 % 2

1

In [7]:
(2 + 3) * (5 + 5)

50

### Creación de variables

In [8]:
# NO PUEDES NOMBRAR UNA VARIABLES CON NUMEROS O CARACTERES ESPECIALES
nombre_variable = 2

In [9]:
x = 2
y = 3

In [10]:
z = x + y

In [11]:
z

5

# Palabras reservadas y sintaxis  en python

- False
- None
- True
- and
- as
- assert
- async
- await
- break
- class
- continue
- def
- del
- elif
- else
- except
- finally
- for
- from
- global
- if
- import
- in
- is
- lambda
- nonlocal
- not
- or
- pass
- raise
- return
- try
- while
- with
- yield

In [12]:
False = 10

SyntaxError: cannot assign to False (2005507881.py, line 1)

In [13]:
True = 5

SyntaxError: cannot assign to True (922659677.py, line 1)

# Identificadores (simbolos especial) reservados
No se pueden poner en el nombre de una variable

- @
- #
- %
- ^
- &
- *
- (
- )
- !

In [14]:
val@ = 35

SyntaxError: invalid syntax (90015695.py, line 1)

In [15]:
# numeros al inicio de nombre de variable tampoco
1val = 15

SyntaxError: invalid syntax (2305754499.py, line 2)

### Textos (Strings)

In [16]:
'comillas simples'

'comillas simples'

In [17]:
"comillas dobles"

'comillas dobles'

In [18]:
"envolver muchas otras citas"

'envolver muchas otras citas'

### Printeando

In [19]:
x = 'hola'

In [20]:
x

'hola'

In [21]:
print(x)

hola

In [22]:
num = 12
nombre = 'Juan'

In [23]:
#Agregandole valores de variables a un texto
print('Mi numero es: {uno}, y mi nombre es: {dos}'.format(uno=num,dos=nombre))

Mi numero es: 12, y mi nombre es: Juan

In [24]:
f'Mi numero es: {num}, y mi nombre es: {nombre}'

'Mi numero es: 12, y mi nombre es: Juan'

# Ejercicio
- crea 3 variables, una con tu nombre, otra con el sector donde vives y otra con el tiempo que tienes viviendo ahi
- luego printea estas informaciones en una oracion como por ejemplo: Mi nombre es Gilberto vivo en el cacique y tengo 3 años aqui.

In [25]:
nombre = 'Gilberto'
sector = 'Cacique'
tiempo = 3

In [26]:
'Mi nombre es {} vivo en {} y tengo {} años viviendo aqui'.format(nombre,sector,tiempo)

'Mi nombre es Gilberto vivo en Cacique y tengo 3 años viviendo aqui'

In [27]:
f'Mi nombre es {nombre} vivo en {sector} y tengo {tiempo} años viviendo aqui'

'Mi nombre es Gilberto vivo en Cacique y tengo 3 años viviendo aqui'

### Listas
En las listas se almacenan elementos, dichos elementos pueden ser numeros, textos, arreglos, dataframes, otras listas y más..

In [28]:
[1,2,3]

[1, 2, 3]

In [29]:
['hola',1,[1,2]]

['hola', 1, [1, 2]]

In [30]:
#creando una variable tipo lista
mi_lista = ['a','b','c']

In [31]:
mi_lista

['a', 'b', 'c']

In [32]:
#accediendo a los elementos de una lista
mi_lista[0]

'a'

In [33]:
mi_lista[1]

'b'

In [34]:
#accediendo a todos los valores de la lista a partir del segundo (1) valor
mi_lista[1:]

['b', 'c']

In [35]:
mi_lista[:1]

['a']

In [36]:
mi_lista[0] = 'NUEVO'

In [37]:
#agregando elementos al final de una lista ya creada
mi_lista.append('d')

In [38]:
mi_lista

['NUEVO', 'b', 'c', 'd']

In [39]:
#agregando elementos en una posicion espeficifica de una lista ya creada
mi_lista.insert(0,5)

In [40]:
mi_lista

[5, 'NUEVO', 'b', 'c', 'd']

In [41]:
#eliminando elementos de una lista en funcion del indice
mi_lista.pop(0)

5

In [45]:
#ME DICE EN QUE INDICE SE ENCUENTRA EL ELEMENTO DE UNA LISTA
mi_lista.index('NUEVO')

0

In [35]:
mi_primera_lista = ['hola',1,[4,6],5,6,8,9]

In [36]:
mi_primera_lista.insert(2,'a')

In [37]:
mi_primera_lista

['hola', 1, 'a', [4, 6], 5, 6, 8, 9]

In [38]:
anidada = [1,2,3,[4,5,['target']]]

In [39]:
anidada[3]

[4, 5, ['target']]

In [40]:
anidada[3][2]

['target']

In [41]:
anidada[3][2][0]

'target'

# Ejercicio
- Crea una lista llamada mi_lista_ejercicio con los siguientes elementos: 5, 8, lista con las letras a, b, c 
- Accede a la letra b

In [42]:
mi_lista_ejercicio = [5,8,['a','b','c']]

In [43]:
mi_lista_ejercicio[2]

['a', 'b', 'c']

In [44]:
mi_lista_ejercicio[2][1]

'b'

### Diccionarios
A diferencia de las listas, los diccionarios tienen una llave para cada elemento y se acceden a los elementos en base a su llave.

In [45]:
d = {'llave1':'elemento1','llave2':'elemento1'}

In [46]:
d

{'llave1': 'elemento1', 'llave2': 'elemento1'}

In [47]:
d['llave1']

'elemento1'

In [48]:
d.keys()

dict_keys(['llave1', 'llave2'])

In [49]:
d.items()

dict_items([('llave1', 'elemento1'), ('llave2', 'elemento1')])

In [50]:
d2 = {'Productos':['A','B','C','D'],'Color':['Rojo','Mamey','Azul','Negro']}

In [51]:
d2['Color'][2]

'Azul'

# Ejercicios
- Cree un diccionario llamando mi_diccionario_ejercicio y agregue 3 llaves: llave1, llave2, llave3
- A la llave 1 agreguele una lista con el numero 7 y la letra X
- A la llave 2 agreguele una lista con el los numeros 5 y 7
- A la llave 3 agreguele una lista con la letra  H y el numero 3
- Una vez creado el diccionario acceda al numero 3

In [52]:
mi_diccionario_ejercicio = {'llave1':[7,'X'],
                            'llave2':[5,7],
                            'llave3':['H',3]}

In [53]:
mi_diccionario_ejercicio['llave3'][1]

3

### Booleanos

In [54]:
True

True

In [55]:
False

False

### Tuplas

In [56]:
#la principal diferencia entre una tupla y una lista es que las tuplas no se pueden asignar valores.
a, b, c = (1,2,3)

In [57]:
a

1

In [58]:
b

2

In [59]:
c

3

In [60]:
t = (1,2,3)

In [61]:
t[0]

1

In [62]:
try:
    t[0] = 'NEW'
except:
    print('Las tuplas no soporta asignación de valores')

Las tuplas no soporta asignación de valores